@import "../../styles/variables.scss";

.results {
    margin-bottom: 40px;

    &__title {
        @include h1;
        margin-bottom: 16px;
    }

    &__text {
        @include text;
        max-width: 980px;
    }
}


@media (max-width:576px) {
    .results {
        &__title {
            @include h1-small-size;
            margin-bottom: 16px;
        }
    }
}