@import "../../styles/variables.scss";

.breadcrumbs {

    margin: 32px 0 24px;

    &__inner {
        display: flex;
        column-gap: 8px;

        &__link {
            color: $gray;

            &:hover {
                color: $gray;
            }

            &:last-child {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &:not(:first-child):before {
                content: "/";
                display: inline-block;
                margin-right: 8px;
            }
        }
    }
}