@import "../../styles/variables.scss";

.breadcrumbs {

    margin: 32px 0 24px;

    &__inner {
        display: flex;
        column-gap: 24px;

        &__link {
            color: $gray;

            position: relative;

            &:first-child {
                &::after {
                    display: block;
                    content: "/";

                    position: absolute;
                    top: 0;
                    left: 55px;
                }
            }
        }
    }
}

@import "../../styles/main.css";