@import './normalize.scss';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Onest';
    src: url(../fonts/OnestMedium1602-hint.ttf) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Onest';
    src: url(../fonts/OnestRegular1602-hint.ttf) format('woff');
    font-weight: 400;
}

body {
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.4px;
    color: $main;
}