// colors
$main: #333;
$secondary: #7c6757;
$gray: #817b77;
$pure__gray: rgba(51, 51, 51, 0.2);
$blue: #6fcbd5;
$white: #fff;

$line-height: 20.3px;

// mixins

@mixin h1 {
    font-size: 30px;
    line-height: 39.6px;
    font-weight: 400;

    color: $main;

    font-family: 'Arsenal', sans-serif;

    text-transform: uppercase;

}

@mixin h1-small-size {
    font-size: 24px;
    line-height: 31.08px;
    font-weight: 400;

    font-family: 'Arsenal', sans-serif;

    text-transform: uppercase;

}

@mixin text {
    line-height: 26.4px;
    font-weight: 400;
    font-size: 16px;
}

@mixin link {
    display: inline-block;

    color: $secondary;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;

    border-bottom: 1px solid rgba(124, 103, 87, 0.2);

    pointer-events: none;
}

@mixin shadow {
    box-shadow: 0 2px 4px rgba(51, 50, 48, 0.1);
}

//fonts
$main-font: 'Onest', sans-serif;
$secondary-font: 'Arsenal', sans-serif;


// 'Onest', sans-serif;
// 'Arsenal', sans-serif;